.contacts {
  text-align: center;
  padding: 55px 20px 63px;
}

.contact-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--font-color-gray);
}

.contact-btn {
  width: 210px;
  height: 42px;
  background-color: var(--font-color-gray);
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 75px 0 38px;
}

.contact-btn:hover {
  opacity: 0.7;
}

.button-link {
  font-size: 24px;
  font-weight: 500;
  color: var(--bg-main);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.social-icon {
  width: 65px;
  height: 65px;
  fill: var(--font-color-gray);
}

.social-icon:hover {
  fill: whitesmoke;
}

.contacts-info {
  width: 260px;
  margin: 35px auto 0;
  color: var(--color-main-blue);
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .socials {
    gap: 20px ;
  }
  .social-icon {
    width: 55px;
    height: 55px;
  }
  .contacts-info {
    font-size: 14px;
  }
}
